* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "PoppinsSemibold";
    src: url("fonts/Poppins-SemiBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "PoppinsR";
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsExtra";
    src: url("fonts/Poppins-ExtraLight.ttf");
}

body {
    background-color: #f2f2f2;
    font-family: "Poppins";
}


.header {
    text-align: center;
    display: flex;
    font-family: "Poppins";
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
    width: 530px;

}

.header h1 {
    color: rgba(77, 79, 98, 1);
    font-size: 36px;
    font-family: "PoppinsExtra";

}

.header h2 {
    color: #4d4f62;
    bottom: 20px;
    font-size: 36px;
    font-family: "PoppinsSemibold";
}

.header p {
    width: 540px;
    text-align: center;
    font-size: 15px;
    font-family: "PoppinsR";
    color: #4d4f62;
    opacity: 50%;
    margin-bottom: 59px;
}

.sec {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin: 0 auto;
}

.sup {
    border-top: 5px solid #44D3D2;
    box-shadow: #DADAE5 0 2px 3px 3px;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    font-family: Poppins;
    background-color: #fff;
    
}


.sup h2 {
    font-family: "PoppinsSemibold";
    font-size: 20px;
    color: #4D4F62;
    margin: 20px;

}

.sup p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
    opacity: 50%;
}

.box1 {
    margin-left: 73%;
    margin-top: 25px;
    float: left;
}

.Team {
    border-top: 5px solid #EA5454;
    width: 350px;
    height: 250px;
    box-shadow: #DADAE5 0 2px 3px 3px;
    border-radius: 7px;
    background-color: #ffff;
    margin-bottom: 30px;


}

.Team h2 {
    font-family: "PoppinsSemibold";
    color: #4d4f62;
    font-size: 20px;
    margin: 30px;
}

.Team p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
    opacity: 50%;
}

.box2 {
    margin-left: 73%;
    margin-top: 30px;
    float: left;

}

.karma {
    border-top: 5px solid #FCAE4A;
    width: 350px;
    height: 250px;
    box-shadow: #DADAE5 0 2px 3px 3px;
    border-radius: 7px;
    background-color: #ffff;
    align-self: flex-end;


}

.karma h2 {
    font-family: "PoppinsSemibold";
    color: #4d4f62;
    margin: 20px;

}

.karma p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
    opacity: 50%;
}

.flex-direction2 {
    margin: 30px;
    justify-content: center;
}

.box3 {
    margin-left: 73%;
    margin-top: 30px;
    float: left;
}

.calc {
    border-top: 5px solid #549EF2;
    width: 350px;
    height: 250px;
    box-shadow: #DADAE5 0 2px 3px 3px;
    border-radius: 7px;
    background-color: #ffff;

    right: 7%;
}

.calc h2 {
    font-family: "PoppinsSemibold";
    color: #4D4F62;
    margin: 20px;
}

.calc p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
    opacity: 50%;
}

.box4 {
    margin-left: 73%;
    margin-top: 30px;
    float: left;

}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 80px;
}

.attribution a {
    color: hsl(228, 45%, 44%);

}

@media only screen and (max-width: 740px) { 
    body {
        height: 1360px;
        width: 375px;
    }

    .header {
        width: 311px;
        margin-top: 16px;
        margin-bottom: 75px;
flex-direction: column;
align-items: center;
margin:  0 auto;
    }

    .header h1 {
        font-size: 24px;
    }

    .header h2 {
        font-size: 24px;
    }

    .header h3 {
        font-size: 15px;

    }

    .sec {

        flex-flow: column;
        border: #4D4F62 solid 1px;
        margin: 0 auto;
    }

    .sup {
        width: 311px;
        height: 222px;
        margin: 25px;

    }



    .karma {
        width: 311px;
        height: 222px;
        margin: 25px;

    }

    .Team {
        width: 311px;
        height: 222px;
        margin: 25px;
    }

    .calc {
        width: 311px;
        height: 222px;
        margin: 25px;
    }
}