* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "PoppinsSemibold";
    src: url("fonts/Poppins-SemiBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "PoppinsR";
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsExtra";
    src: url("fonts/Poppins-ExtraLight.ttf");
}

body {
    background-color: #f2f2f2;
    font-family: "Poppins";
}


.header {
    text-align: center;
    width: 540px;
    height: 168px;
    font-family: "Poppins";
    margin: 0 auto;

}

.header h1 {
    color: #4d4f62;
    font-size: 36px;
    font-family: "PoppinsExtra";

}

.header h2 {
    color: #4d4f62;
    bottom: 20px;
    font-size: 36px;
    font-family: "PoppinsSemibold";
}

.header h3 {

    text-align: center;
    font-size: 15px;
    font-family: "PoppinsR";
    color: #4d4f627a;


}

.sec {

    display: flex;
    width: 100%;
    height: 530px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin-top: 30px;

}

.sup {
    border-top: 5px solid #44D3D2;
    box-shadow: #DADAE5 0 2px 3px 3px;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    font-family: Poppins;
    background-color: #fff;
    position: relative;
    left: 9%;
}


.sup h2 {
    font-family: "PoppinsSemibold";
    font-size: 20px;
    color: #4D4F62;
    margin: 20px;

}

.sup p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
}

.box1 {
    margin-left: 73%;
    margin-top: 25px;
    float: left;
}

.Team {
    border-top: 5px solid #EA5454;
    width: 350px;
    height: 250px;
    box-shadow: #DADAE5 0 2px 3px 3px;
    border-radius: 7px;
    background-color: #ffff;
    align-self: flex-start;
    position: relative;
    left: 12%;
}

.Team h2 {
    font-family: "PoppinsSemibold";
    color: #4d4f62;
    font-size: 20px;
    margin: 30px;
}

.Team p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
}

.box2 {
    margin-left: 73%;
    margin-top: 30px;
    float: left;

}

.karma {
    border-top: 5px solid #FCAE4A;
    width: 350px;
    height: 250px;
    box-shadow: #DADAE5 0 2px 3px 3px;
    border-radius: 7px;
    background-color: #ffff;
    align-self: flex-end;
    position: relative;
    right: 11%;
}

.karma h2 {
    font-family: "PoppinsSemibold";
    color: #4d4f62;
    margin: 20px;

}

.karma p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
    -webkit-text-stroke: #979797;
}

.box3 {
    margin-left: 73%;
    margin-top: 30px;
    float: left;
}

.calc {
    border-top: 5px solid #549EF2;
    width: 350px;
    height: 250px;
    box-shadow: #DADAE5 0 2px 3px 3px;
    border-radius: 7px;
    background-color: #ffff;
    position: relative;
    right: 7%;
}

.calc h2 {
    font-family: "PoppinsSemibold";
    color: #4D4F62;
    margin: 20px;
}

.calc p {
    font-family: "PoppinsR";
    margin-left: 30px;
    font-size: 13px;
    color: #4d4f62;
}

.box4 {
    margin-left: 73%;
    margin-top: 30px;
    float: left;

}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);

}